<md-card ng-style="challenge.style">
    <md-icon viewBox="0 0 60 55" class="asdf" ng-show="challenge.complitedUsers.indexOf('lior_strichash') != -1" md-svg-icon="static/done.svg"></md-icon>
    <md-button ng-show="currentWish" class="md-warn md-raised " style="position: absolute;    right: 21px;    margin-top: 19px;">
        <span>{{countdown}}</span>
    </md-button>
    <img  ng-click="moveToChallenge(challenge.name)" ng-src="{{challenge.image}}" class="md-card-image" alt="">
    <span class="md-subhead">sponsors: <span ng-repeat="sponsor in challenge.sponsors"> @{{sponsor}}</span></span>
    <md-card-content>
        <p ng-show="isFull">
            {{challenge.description}}
        </p>
        <span ng-repeat="tag in challenge.tags"> <a href="#"> #{{tag}}</a></span>
        <div>
        <md-slider-container>
            <md-slider min="0" max="100" ng-model="challenge.ttl"></md-slider>
            <md-input-container>
                <input disabled flex type="text" ng-model="challenge.ttlPercentage">
            </md-input-container>
        </md-slider-container>
        </div>
        <ul class=" _pws6z">
            <li class=" _573jb">
        <span class="_t98z6 _sf8d3">
            <span class="_fd86t _he56w" style="color: #05AF3C">{{challenge.done}}</span> Peaple
        </span>
            </li>
            <li class=" _573jb">
                <a class="_t98z6 _sf8d3" href="#">
                    <span class="_fd86t _he56w" style="color: #05AF3C">{{challenge.raisedMoney}}</span> raised money
                </a>
            </li>
            <li class=" _573jb">
                <a class="_t98z6 _sf8d3" href="#"><!-- react-text: 1435 --><!-- /react-text -->
                    <span class="_fd86t _he56w">{{challenge.daysToGo}}</span>days to go
                </a>
            </li>
        </ul>
    </md-card-content>
    <md-card-actions ng-show="isFull" layout="row" layout-align="end center">
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Share</md-button>
            <span flex></span>
            <md-button ng-hide="accepted" ng-click="assign(challenge)">assign</md-button>
            <md-button ng-show="accepted" ng-click="createPost(challenge)">Post!</md-button>
        </md-card-actions>
    </md-card-actions>
</md-card>

<post ng-repeat="post in relatedPosts" post="post"></post>