/* app css stylesheet */

.menu {
  list-style: none;
  border-top: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;

}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
}
.page-wrap:after {
  content: "";
  display: block;
}