/* app css stylesheet */

.menu {
  list-style: none;
  padding: 0;
  width: 100%;
  background-color: #9FEBE9;
}

.single-event {
  height: 75%;
}

.topbar {
  border-bottom: 0.1em solid black;
  top: 0.5em;
}

.footer {
  border-top: 0.1em solid black;
  bottom: 0.5em;
  position: fixed;
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
}
.page-wrap:after {
  content: "";
  display: block;
}




/*.greed-slider .md-thumb:after, .greed-slider .md-track{*/
  /*background-color: greenyellow !important;*/
  /*border-color: greenyellow !important;*/
/*}*/
/*.greed-slider .md-focus-thumb, .greed-slider .md-focus-ring{*/
  /*background-color: greenyellow;*/
/*}*/